// Colors
$black: #121313;
$gray: #AEB4BB;
$highlight: #0076FF;

$black-t: rgba(18,19,19,0.55);

// Knife Settings
$body-font-size:   16px;
$body-line-height: $perfect-fifth;
$scale-factor:     $major-second;